/* Footer Styling */
.footer-container {
  background: linear-gradient(135deg, #534caf, #2E8B57); 
  color: white;
  text-align: center;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: calc(100% );
  margin-left: 0px;
  opacity :0;
}

.footer-container p {
  margin: 0;
  opacity: 0.8; 
  transition: opacity 0.3s ease;
}



.footer-container:hover {
  opacity: 1; 
}